@{ 
    Layout = null;
}
<!DOCTYPE html>
</html>
<head>
    <meta name"viewport" content="width=device-width" />
    <title>In</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>LİNK İÇİN LİMİTİNİZ DOLMUŞTUR</h1>
            </div>
        </div>
    </div>
</body>