@using WebApplication4.Models;
@model List<Link>

@{

    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:200px; margin-bottom:200px;">
    <div class="col-md-11">
        <div class="form-group">
            <label>Lütfen Linkinizi Giriniz:</label>
            <input class="form-control" id="txtUzunLink" />
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label></label>
            <button class="btn btn-primary" onclick="Kisalt()">KISALT</button>
        </div>
    </div>
    <div class="col-md-12 text-center">

        Yeni kısa Linkiniz:<strong id="KisaLinkSonuc">     </strong>
    </div>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td Uzun Link></td>
                    <td kısa Link></td>
                </tr>
            </thead>
            <tbody>
                @foreach (Link _link in Model)
                {
                    <tr>
                        <td> @_link.UzunLink</td>
                        <td>https://localhost:44349/D/IN?I=@_link.KisaLink</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script type="text/javascript">

        function Kisalt() {

            var uzunLink = $("#txtUzunLink").val();

            $.ajax({
                type: "POST",
                url: "/Home/LinkKisalt",
                data: "{uzunLink: '" + uzunLink + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $("#KisaLinkSonuc").html("https://localhost:44349/D/IN?I=" + result);
                },
                error: function (response) {
                    alert(response.d);
                }
            });

        }
    </script>
}